In [1]:
from ipywidgets import interact_manual
import plotly.express as px
import seaborn as sns

In [2]:
data= px.data.gapminder()
data.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [3]:
@interact_manual
def viz(x=list(data.select_dtypes ('number').columns)):
    sns.distplot (data[x],)

interactive(children=(Dropdown(description='x', options=('year', 'lifeExp', 'pop', 'gdpPercap', 'iso_num'), va…

In [6]:
@interact_manual
def viz(x=list(data.select_dtypes ('object').columns[1:])):
    sns.countplot(data[x])

interactive(children=(Dropdown(description='x', options=('continent', 'iso_alpha'), value='continent'), Button…