In [1]:
import ipywidgets

In [3]:
from ipywidgets import interact, interact_manual

In [4]:
import plotly.express as px

In [5]:
data=px.data.iris()
data.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

In [6]:
data.select_dtypes('number').head()

   sepal_length  sepal_width  petal_length  petal_width  species_id
0           5.1          3.5           1.4          0.2           1
1           4.9          3.0           1.4          0.2           1
2           4.7          3.2           1.3          0.2           1
3           4.6          3.1           1.5          0.2           1
4           5.0          3.6           1.4          0.2           1

In [7]:
data.select_dtypes('object').head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [8]:
@interact 
def correlation(x=list(data.select_dtypes('number').columns),
                y=list(data.select_dtypes('number').columns)):
    return data[x].corr(data[y])

interactive(children=(Dropdown(description='x', options=('sepal_length', 'sepal_width', 'petal_length', 'petalâ€¦

In [ ]:
@interact_manuela
def correlation(x=list(data.select_dtypes('number').columns),
                y=list(data.select_dtypes('number').columns)):
    return data[x].corr(data[y])